@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-primary: #24e478;
  --color-primary-foreground: #000000;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #52525b;
  --color-border: #e4e4e7;
  --color-card: #ffffff;
  --color-card-foreground: #000000;
  --color-destructive: #dc2626;
  --color-destructive-foreground: #ffffff;
  --radius-lg: 0.75rem;
  --radius-md: 0.5rem;
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

@layer base {
  *,
  *::before,
  *::after {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
